@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');
@font-face {
    src: url(../fonts/Bebas_Neue.ttf);
    font-family: Bebas Neue;
}

h1 {
    font-size: 6em;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: .5em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2em;
    padding-bottom: .5em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
}