@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Work+Sans&display=swap');

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        width: 35px;
        height: 40px;
        margin: 10px;
        margin-right: 30px;
        float: right;
        cursor: pointer;
    }
    .menu-toggle div {
        width: 35px;
        height: 2px;
        background-color: black;
        margin: 10px 0;
    }
    header {
        background-color: white;
        padding: 5px;
    }
    nav  {
        display: none;
        
    }
    nav.active  {
        display: block;
        width: 100vw;
    }

    .menu-toggle.active:before {
        background: white;
    }

    nav.active ul {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    
    .intro {
        padding-top: 70px;
        min-height: 0;
        height: auto;
        background-position: 0 70px;
        background-size: contain;
        background-attachment: unset;
    }

    .intro .button {
        display: none;
    }

    .about_us {
        padding-top: 0;
    }

    .about_us .inner a{
        color: black; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 12pt;
        text-transform: none;
        text-decoration-line: underline;
        transition: all ease-in-out 250ms;
    }

    .about_us .inner a:hover{
        color: rgb(65, 65, 65);
    }

    .about_us .inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }

    .membership .inner .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .sponsors .inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    }

    .sponsors .inner div:nth-of-type(1) {
        order: 2;
    }

    .sponsors .inner div:nth-of-type(2) {
        order: 1;
    }

    .sponsors .content {
        padding: 4vh 0 0 0;
    }

    .sponsors .inner .content h2, p{
        text-align: center;
    }

    .upcomingEvent .inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
    }

    .upcomingEvent .heading {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .upcomingEvent .heading h2{
        text-align: center;
    }

    .upcomingEvent .inner .content {
        padding: 0;
    }

    .upcomingEvent .inner .content a{
        color: black; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 12pt;
        text-transform: none;
        text-decoration-line: underline;
        transition: all ease-in-out 250ms;
    }

    .upcomingEvent .inner .content a:hover{
        color: rgb(65, 65, 65);
    }


    .upcomingEvent .inner .content p{
        text-align: left;
    }



}