* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.menu-area li a {
    text-decoration: none;
}
  
.menu-area li {
    list-style-type: none;
}
  
.custom-padding{
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../media/ruma_cover.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
nav {
    position: fixed;
    padding: 25px;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    z-index: 999;
    text-align: right;
    transition: all ease-in-out 650ms;
}
  
.logo {
    width: 15%;
    height: 100%;
    float: left;
    color: #fff;
    text-align: left;
}

.logo img {
    height: 100%;
    width: auto;
}
  
.menu-area li {
    display: inline-block;
}
  
.menu-area a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
}
.menu-area a:hover {
    background: tomato;
    color: #fff;
}
  
.menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
}
  
nav:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
}
  
nav:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
}

header {
      height: 100%;
      display: flex;
      margin: 0;
      padding-top: 4em;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.about_us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0em 5em 0em;
    background: linear-gradient(-90deg,#ffd2d6 , #FAF4D4);
}

.about_us .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 4em;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.about_us .content {
    text-align: center;
    
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}

.membership {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7fa;
}

.membership .inner {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.membership img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.membership .inner .content {
    padding-left: 7em;
    padding-right: 20em;
}

.sponsors {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#ffd2d6 , #FAF4D4);;
    padding: 2em;
}

.sponsors .inner {
    display: grid;
    width: 90%;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background:white;
}

.content {
    padding-left: 6em;
}

.content h2{
    text-align: left;
    font-size: 1.7em;
}


.upcomingEvent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CAFCF5;
    padding: 5em;
}

.upcomingEvent .inner {
    display: grid;
    width: 90%;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.upcomingEvent .heading {
    grid-column-start: 1;
    grid-column-end: 3;
}

.upcomingEvent .heading h2 {
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.upcomingEvent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upcomingEvent .inner .content {
    padding-left: 7em;
}


