:root {
    --dark-color: #003447;
    --bright-yellow: #FAF4D4;
    --bright-pink: #FFD2D6;
    --bright-blue: #CAFCF5;
    --bright-green: #EAF8C4;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    padding: 20px 20px;
    width: 100vw;
    background-color: none;
    z-index: 999;
}

header img {
    margin: 5px;
    color: black;
    height: 50px;
    text-align: center;
    float: left;
    font-weight: 700;
    text-decoration: none;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a  {
    display: block;
    position: relative;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(219, 219, 219);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 30px;
}

nav ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(255, 255, 255);
    height: 1px;
    transition: all ease-in-out 250ms;
}

nav a:hover:after {
    width: 100%;
}

nav li a.active
nav li a.hover {
    color: white;
    transition: all ease-in-out 0.5s;
}



.intro {
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../media/homepage/cover.jpg);

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0em 5em 0em;
    background: #FAF4D4;
}

.about_us .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 4em;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.about_us .content {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}

.membership {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CAFCF5;
}

.membership .inner {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.membership img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.membership .inner .content {
    padding-left: 7em;
    padding-right: 20em;
}

.sponsors {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd2d6;
    padding: 2em;
}

.sponsors .inner {
    display: grid;
    width: 90%;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.sponsors .swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sponsors .swiper-slide {
    grid-area: "slider";
    background-position: center;
    background-size: cover;
    width: 50vh;
    height: 50vh;
    background:white;
}

.sponsors .swiper-slide img {
    height: 100%;
    width: 100%;
}

.sponsors .content {
    grid-area: "content";
    padding-left: 6em;
}

.sponsors .content h2{
    text-align: left;
    font-size: 1.7em;
}

.upcomingEvent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAF8C4;
    padding: 5em;
}

.upcomingEvent .inner {
    display: grid;
    width: 90%;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.upcomingEvent .heading {
    grid-column-start: 1;
    grid-column-end: 3;
}

.upcomingEvent .heading h2 {
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.upcomingEvent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upcomingEvent .inner .content {
    padding-left: 7em;
}